.wgs{
    height: 125px;
    width: 150px;
    position: absolute;
}


.mole-head{
    height: 125px;
    position: absolute;
    width: 150px;
}


.mole-hill{
    height: 125px;
    position: absolute;
    width: 100px;
    bottom: 80%;
}




.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
} 

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
} 

.sb__score-holder {
  flex: 1 0 0;
} 

.sb__game-over--hidden {
  display: none;
}